<<<<<<< HEAD
#coontac{
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
}

.contact{
color: white;

}

.contact h1{
font-size:4rem;
margin-bottom: 20px;
}

.special-buttons .button1,
.special-buttons .button2 {
  width: 150px;
  padding: 15px 30px;
  font-size: 18px;
  margin-right:20px ;
}

#fim{
  margin-top:450px;
  margin-bottom: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fimbox{
  color: white;
  background-color: red;
  padding: 20px;
  border-radius: 20px;
  width: 1100px;
}
.fim1 h2{
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.fim1{
  text-align: center;
  margin-bottom: 15px;
  
}



.email-subscribe {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  max-width: 500px;
  background: white;
  margin-left: 280px;
}

.email-subscribe input[type="email"] {
  flex: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.email-subscribe button {
  padding: 15px 30px;
  background-color: #120f0f;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.email-subscribe button:hover {
  background-color: #2c2c2c;
=======
#coontac{
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
}

.contact{
color: white;

}

.contact h1{
font-size:4rem;
margin-bottom: 20px;
}

.special-buttons .button1,
.special-buttons .button2 {
  width: 150px;
  padding: 15px 30px;
  font-size: 18px;
  margin-right:20px ;
}

#fim{
  margin-top:450px;
  margin-bottom: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fimbox{
  color: white;
  background-color: red;
  padding: 20px;
  border-radius: 20px;
  width: 1100px;
}
.fim1 h2{
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.fim1{
  text-align: center;
  margin-bottom: 15px;
  
}



.email-subscribe {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  max-width: 500px;
  background: white;
  margin-left: 280px;
}

.email-subscribe input[type="email"] {
  flex: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.email-subscribe button {
  padding: 15px 30px;
  background-color: #120f0f;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.email-subscribe button:hover {
  background-color: #2c2c2c;
>>>>>>> 9f4a5d8f6bf7dc53cde9f3a252320c40c6444c4f
}