
.title1{
    color: white;
    font-size: 62px;
    margin-bottom: 24px;
}
.pagrag1{
    color: white;
    font-size: 20px;
    margin: 1px 0px 11px 0px;
    
}

.div1{ 
    max-width: 500px;
    margin: 60px 0px 190px 120px;

}

.princp1{
display: flex;
align-items: center;


}

.maromba{
    max-width: 450px; 
    height: auto;
    width: 100%;
    margin: 35px  0px 0px 200px;
}