
.title1{
    color: white;
    font-size: 62px;
    margin-bottom: 24px;
}
.pagrag1{
    color: white;
    font-size: 20px;
    margin: 1px 0px 11px 0px;
    
}

.div1{ 
    max-width: 500px;
    margin: 160px 0px 190px 120px;

}

.princp1{
display: flex;
align-items: center;


}

.maromba{
    max-width: 450px; 
    height: 700px;
    width: 100%;
    position: fixed;
    right: 131px;
    top: 301px;
    z-index: -2;
}