*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family: "Urbanist", sans-serif;
   
}

body{
    background-color: black;
   
}

a{
    text-decoration: none;
    color: white;
}



.button1{
    border: 2px solid #ffffff;
    background-color: black;
  
transition: background-color 0.3s ease, transform 0.3s ease;


}

.button2{
  
    background-color: red;
    
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button2:hover{
    transform: scale(1.05);
}
.button1:hover{
    transform: scale(1.05);
}


